
<html lang="en">
  <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">11</span>
          </i>
          Link
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">11</span>
          </i>
          Disabled
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope-o">
            <span class="badge badge-primary">11</span>
          </i>
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-bell">
            <span class="badge badge-info">11</span>
          </i>
          Test
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-globe">
            <span class="badge badge-success">11</span>
          </i>
          Test
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
























  	

  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='officialcss.css') }}">
<script type="text/javascript">
    var received_data  = {{ data|safe }};
    console.log(received_data.Dashboard);
    
</script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="officialcss.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row">
<div id="ok"></div>
    		<div class="col-sm-3">
				<ul class="navbar">
					<center>
					<img src="{{ url_for('static',filename='Koala.jpg') }}" id="pic">
					<li  id="dashboard">Picture</li><hr/>
				<a href="#" style=" 	text-decoration: none;
 	color: inherit; ">	<li class="sidemenu" id="dashboard">Dashboard</li><hr/>
				<a href="#" style=" 	text-decoration: none;
 	color: inherit; ">	<li class="sidemenu" id="pii">Personal Identity Information</li><hr/></a>
				<a href="#" style=" 	text-decoration: none;
 	color: inherit; ">	<li class="sidemenu" id="address">Address</li><hr/></a>
				<a href="#" style=" 	text-decoration: none;
 	color: inherit; ">	<li class="sidemenu" id="passport">Passport Details</li><hr/>
				<a href="#" style=" 	text-decoration: none;
 	color: inherit; ">	<li class="sidemenu" id="pan">PAN Details</li><hr/></a>
				<a href="#" style=" 	text-decoration: none;
 	color: inherit; ">	<li class="sidemenu" id="aadhaar">AADHAAR Card</li><hr/></a>
					</center>
				</ul>
				</div>
				<div class="col-sm-9 name">
					<span style="float: right;margin-right: 20px;">XYZASD@gmail.com</span>
				<h3><b><i>Smith Alexander</i></b></h3>

				<i class="material-icons">place</i><i id="mapplace">South California</i>
				<br>
				<br>
				<br>

				<div class="row" id="anyoption" style="height: 42px; margin-left: 20px;"></div>

					<div class="row main" style="/*border: solid;*/background-color: white;">
					<div class="col-sm-6"><ul><h5>
   					<div id="type">
							<h1>Dashboard is currently Empty</h1>
					</div></h5></ul>

					</div>
					
					<div class="col-sm-6"><ul><i>
					<div id="detail">
							<h1>Dashboard is currently Empty</h1>
					</div></i></ul>
					</div>
				</div>
				</div>
				</div>

			

		</div>
				
				

	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <script type="text/javascript">
  	
document.getElementById('dashboard').addEventListener('click',function(){
	document.getElementById('anyoption').innerHTML="";


    document.getElementById('detail').innerHTML='<h1>currently NDOn nindpo</h1>';
});
document.getElementById('pii').addEventListener('click',function(){
document.getElementById('anyoption').innerHTML="";


    document.getElementById('type').innerHTML=`<br>{% for i in data["Personal Identity Information"]%}
    											<li>{{i}}</li><hr>{% endfor %}`;
    document.getElementById('detail').innerHTML=`<br>{% for i,j in data["Personal Identity Information"].items()%}
    											<li>{{j}}</li><hr>{% endfor %}`;
});



document.getElementById('address').addEventListener('click',function(){
	console.log("Called");

		document.getElementById('anyoption').innerHTML=`<select id="addresschange1" name="addresschange1"  onchange="addresschange()"><option disabled selected value> -- select an option -- </option><option value="Present">Present</option><option value="Permanent">Permanent</option><option value="Emergency">Emergency</option></select>`;
    document.getElementById('type').innerHTML="";
   document.getElementById('detail').innerHTML="";

});

function addresschange(){
				var selectBox = document.getElementById("addresschange1");
      			var selectedValue = selectBox.options[selectBox.selectedIndex].value;
      			if(selectedValue=="Present"){
      				console.log(selectedValue);
      			document.getElementById('type').innerHTML=`<br>{% for i in data['Address']['Address Type'][0]["Present"] %}
      														<li>{{i}}</li><hr>
      														{%endfor%}`;
   				document.getElementById('detail').innerHTML=`<br>{% for i,j in data['Address']['Address Type'][0]["Present"].items()%}
    											<li>{{j}}</li><hr>{% endfor %}`;
    										}
    			else if(selectedValue=="Permanent"){
    				console.log(selectedValue);

   			document.getElementById('type').innerHTML=`<br>{% for i in data['Address']['Address Type'][1]["Permanent"] %}
      														<li>{{i}}</li><hr>
      														{%endfor%}`;
   				document.getElementById('detail').innerHTML=`<br>{% for i,j in data['Address']['Address Type'][1]["Permanent"].items() %}
    											<li>{{j}}</li><hr>{% endfor %}`;

    										}
    			else 	{

    			document.getElementById('type').innerHTML=`<br>{% for i in data['Address']['Address Type'][2]["Emergency"] %}
      														<li>{{i}}</li><hr>
      														{%endfor%}`;
   				document.getElementById('detail').innerHTML=`<br>{% for i,j in data['Address']['Address Type'][2]["Emergency"].items()%}
    											<li>{{j}}</li><hr>{% endfor %}`;
    			}
                
};


document.getElementById('passport').addEventListener('click',function(){
				document.getElementById('anyoption').innerHTML="";

    			document.getElementById('type').innerHTML=`<br>{% for i in data['Passport'] %}
      														<li>{{i}}</li><hr>
      														{%endfor%}`;
   				document.getElementById('detail').innerHTML=`<br>{% for i,j in data['Passport'].items()%}
    											<li>{{j}}</li><hr>{% endfor %}`;

});




document.getElementById('pan').addEventListener('click',function(){
				document.getElementById('anyoption').innerHTML="";

    			document.getElementById('type').innerHTML=`<br>{% for i in data['Pan'] %}
      														<li>{{i}}</li><hr>
      														{%endfor%}`;
   				document.getElementById('detail').innerHTML=`<br>{% for i,j in data['Pan'].items()%}
    											<li>{{j}}</li><hr>{% endfor %}`;

});

document.getElementById('aadhaar').addEventListener('click',function(){
				document.getElementById('anyoption').innerHTML="";

    			document.getElementById('type').innerHTML=`<br>{% for i in data['Aadhaar'] %}
      														<li>{{i}}</li><hr>
      														{%endfor%}`;
   				document.getElementById('detail').innerHTML=`<br>{% for i,j in data['Aadhaar'].items()%}
    											<li>{{j}}</li><hr>{% endfor %}`;

});
  </script>
</html>